.profile {
  width: 400px;
  background-color: #a3acb8;
  text-align: center;
  margin: 0 auto;
  padding: 60px;
}
.description {
  padding: 20px 0px;
  background-color: #fff;
  text-align: center;
}
.avatar {
  border-radius: 62px;
}
.name {
  color: #000000;
  font-size: 24px;
  font-weight: 600;
}
.tag {
  color: #5d7374;
}
.location {
  color: #5d7374;
}
.stats {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #a4dae7;
  padding: 23px;
}
.label {
  color: #5d7374;
  margin-bottom: 5px;
}
.quantity {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
}
